@import "../../index.scss";

.card {
  cursor: pointer;
  display: flex;
  margin: 2px 6px;
  padding: 48px 24px;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: rgb(23 43 77 / 20%) 0px 1px 1px, rgb(23 43 77 / 20%) 0px 0px 1px;
  transition: background-color 140ms ease-in-out 0s, color 140ms ease-in-out 0s;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 43, 77);
  font-size: 40px;

  @media (min-device-width: 812px) {
    font-size: inherit;
    padding: 12px;
  }

  .card-title {
    margin-bottom: 8px;
  }

  .card-epic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eae6ff;
    color: #403294;
    border-radius: 3px;
    cursor: default;
    display: inline-flex;
    position: relative;
    height: 60px;
    line-height: 1;
    margin: 4px;
    padding: 2px 4px;
    max-width: max-content;
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 30px;
    overflow: hidden;

    @media (min-device-width: 812px) {
      font-size: 11px;
      height: 20px;
      padding: 2px;
    }
  }

  .card-tag-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(244, 245, 247);
      color: rgb(37, 56, 88);
      border-radius: 3px;
      cursor: default;
      display: inline-flex;
      position: relative;
      height: 60px;
      line-height: 1;
      margin: 4px;
      padding: 2px 4px;
      font-size: 30px;
      overflow: hidden;

      @media (min-device-width: 812px) {
        font-size: 11px;
        height: 20px;
        padding: 2px;
      }
    }
  }
}
