@import "../../index.scss";

.board-group {
  .group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-left: 8px;

    .icon {
      opacity: 0;
      margin-right: 4px;
      transition: opacity 0.2s ease-in-out 0s;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }
  }

  .board {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .collapsible-board {
    box-sizing: border-box;
    display: none;
  }

  .collapsible-board.active {
    display: block;
    visibility: visible;
  }
}
