@import "../../index.scss";

.header {
  display: flex;
  justify-content: center;
  padding: 8px 40px;
  background-color: $base-color;

  @media (min-device-width: 812px) {
    justify-content: flex-start;
  }

  h1 {
    color: $font-color-secondary;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;

    @media (min-device-width: 812px) {
      font-size: 24px;
      font-weight: 300;
    }
  }
}
