@import "../../index.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 40px;
  background-color: $base-color;

  @media (min-device-width: 812px) {
    flex-direction: row;
    justify-content: flex-start;
  }

  h1 {
    color: $font-color-secondary;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    margin-right: 8px;

    @media (min-device-width: 812px) {
      font-size: 24px;
      font-weight: 300;
    }
  }

  .links-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    @media (min-device-width: 812px) {
      justify-content: flex-end;
    }

    .link-button {
      width: 36px;
      height: 36px;
      background: none;
      color: #000 !important;
      border-radius: 18px;
      margin-right: 4px;
      
      &:hover {
        background-color: #091e4240;
        transition-duration: 0s, 0.15s;
      }
    }
  }
}
