@import "../index.scss";

.content {
  padding: 40px;
  background-color: $content-background-color;

  @media (max-device-width: 812px) {
    padding: 0px 40px;
    h1 {
      font-size: 64px;
    }
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 32px;
    align-items: center;
    white-space: nowrap;
    font-size: 40px;

    @media (min-device-width: 812px) {
      font-size: inherit;
    }

    .search {
      outline: 0;
      border-radius: 3.01px;
      background-color: transparent;
      border: 0px;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      font-size: 40px;
      outline: none;
      padding: 8px 6px;
      height: 2.57143em;
      line-height: 1.42857;

      @media (min-device-width: 812px) {
        font-size: 14px;
      }
    }

    .filter-container {
      display: flex;
      margin-left: 12px;
      padding-left: 4px;
      position: relative;

      @media (min-device-width: 812px) {
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          height: 16px;
          transform: translateY(-50%);
          width: 1px;
          left: 0px;
          background: rgb(223, 225, 230);
        }
      }
    }
  }

  .board {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
