@import "../index.scss";

.header {
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
  background-color: $base-color;

  h1 {
    color: $font-color-secondary;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
  }
}
