@import "../index.scss";

.sider {
  height: 100%;
  min-width: 240px;
  background-color: $sider-background-color;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media (min-device-width: 812px) {
    padding: 24px 8px 8px 8px;
    flex-direction: column;
  }

  .nav-items {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    display: flex;
    flex-direction: row;

    @media (min-device-width: 812px) {
      flex-direction: column;
      justify-content: flex-start;
    }

    .nav-item-wrapper {
      color: $sider-font-color;
      padding: 32px 40px;
      cursor: pointer;
      font-size: 40px;
      display: flex;
      box-sizing: border-box;
      user-select: none;
      border-radius: 3px;
      background-color: $sider-background-color;
      text-decoration: none;
      width: 33.33%;

      @media (min-device-width: 812px) {
        padding: 8px 10px;
        font-size: 14px;
        width: 100%;
      }

      .nav-item {
        display: flex;
        min-height: 24px;
        justify-content: center;
        align-items: center;
        width: 100%;

        .nav-item-icon {
          display: flex;
          height: 24px;
          width: 24px;
          align-items: center;
          justify-content: center;
          margin-right: 16px;
        }

        .nav-item-title {
          flex-grow: 1;
          text-align: center;
          overflow: hidden;
          outline: none;
          display: flex;
          flex-direction: column;
          line-height: 1.22;

          @media (min-device-width: 812px) {
            text-align: left;
          }

          span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
