@import "./index.scss";

.header {
  grid-area: header;
}

.sider {
  grid-area: sider;
}

.content {
  grid-area: content;
}

.app {
  display: grid;
  height: 100%;
  grid-template-rows: 72px auto;
  grid-template-areas:
    "header"
    "sider"
    "content";
}

@media (min-width: 600px) {
  .app {
    display: grid;
    height: 100%;
    grid-template-rows: 72px auto;
    grid-template-columns: 250px repeat(3, 1fr);
    grid-template-areas:
      "header header header header"
      "sider content content content";
  }
}
